<webclient>
    <handlers>
        <handler path="/pages/" class="com.javacore.yushkovartem.webservice.HtmlHandler"></handler>
        <handler path="/css/" class="com.javacore.yushkovartem.webservice.CssHandler"></handler>
        <handler path="/js/" class="com.javacore.yushkovartem.webservice.JsHandler"></handler>
        <handler path="/api/criminals" class="com.javacore.yushkovartem.webservice.ApiCriminalsHandler"></handler>
    </handlers>
</webclient>